// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #ff69b4; /* Rosa brillante */
  --ion-color-secondary: #ffb6c1; /* Rosa claro */
  --ion-background-color: #ffe6f2; /* Fondo rosado muy claro */

  --ion-color-primary-contrast: #ffffff; /* Contraste para rosa brillante */
  --ion-color-secondary-contrast: #000000; /* Contraste para rosa claro */
}

  
